*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: fit-content;
    max-height: fit-content;
}
.navbar
{
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    width: 200vh;
    height: 7vh;
}
.logo
{
    max-width: 30vh;
    max-height: 5vh;
    margin-left: 60px;
    
}
.logo p
{
    margin-left: 5px;
    font-size: 25px;
    font-weight: 500;
    display: inline;
}

.navbar-list 
{
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 200;
    display: inline-flex;
    list-style-type: none;
    margin-left: 100px;
    padding-left: 30px;
   
   
} 
.navbar-link 
{
    color: black;
    font-size: 20px;
    font-weight: 200;
    border-bottom: 2px solid transparent;
    width: max-content;
    display: inline-flex;
    padding: 10px;
    margin-left: 50px;
    text-decoration: none;

}  
.btn-group{
    margin-left: 100px;
    font-size: small;
    font-weight: 200;
    display: inline-flex;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 9px;
}
.btn-secondary{
    margin-left: 20px;
    width: 5vh;
    height: 4vh;
    border-radius: 15px;
}
.profile {
    border-radius: 10px;
}

.villa-view {
    background-color: rgb(248, 245, 245);
    display: inline-flex;   
    display: flex;
    width: 200vh;
    height: 50vh;    
}
.villa-view-left{
    /* display: inline-flex; */
    width: 120vh;
    height: 50vh;
}
/* .villa-view-left img{
    /* display: inline-flex; */
    /* width: 120vh;
    height: 50vh;
    
} */ 

.villa-view-right{
    display: block;
    width: 79vh;
    height: 50vh;
    float: right;
    border-radius: 10px;
    /* background-color: aquamarine; */
    margin: 0  ;
}
/* .-view-right img{
    width: 50%;
    height: 10%;
    floatvilla: right;
    display: block;
    border-radius: 4px;
    margin: 0;
} */
.bedroom{
margin-left: 60px;
padding: 20px;
width: 105vh;
height: 50vh;
border: 1px;
border-radius: 4px;

}
.villa{
    width: 55vh;
    padding: 20px;
    display: block;
    height: 22vh;
    border-radius: 4px;
    margin-top: 0;
    margin-left:0px;
}
.garden{
    padding: 20px;
    display:block;
    width: 55vh;
    height: 22vh;
    border-radius: 4px;
    margin-top: 0px;
    margin-left: 0px;
}
.navbar-list2
{
    margin-bottom: 0px;
    font-size: small;
    font-weight: 200;
    display: inline-flex;
    list-style-type: none;
    padding-left: 10px;
    align-items: left;
    background-color:rgb(248, 245, 245) ;
    width: 199vh;
    height: 30px;
   
} 
.navbar-link2 
{
    color: black;
    font-size: medium;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    width: max-content;
    display: inline-flex;
    padding: 10px;
    padding-bottom: 0;
    text-decoration: none;
    margin-left: 60px;
}  
#overview{
    border-bottom: 4px solid blue;
   
}
.part2{
    width: 140vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 225, 225);
}

.name{
    margin-top: 20px;
    margin-left: 70px;
    font-size: larger;
}
.star{
    margin-top: 10px;
    width: 10px;
    height: 10px;
    padding: 1px;
    display: inline-flex
}
.rating{
    font-size: 12px;
    font-weight: 100;
    display: inline-flex;
    color: grey;
    margin-bottom: 10px;
}
.address{
    font-size: 15px;
    font-weight: 200;
    display: block;
    color: black;
    margin-bottom: 10px;
    padding-bottom: 3px;
}
.address img{
    width: 15px;
    height: 15px;
    margin-right: 2px;
}
.overview{
    width: 90vh;
    height: 30vh;   
    background-color: white;
    color: black;
    padding: 30px;
    margin-left: 70px;
    border-bottom: 2px solid grey;
    border-radius: 4px;
    font-size: large;
}
.overview h3{
    padding-bottom: 20px;
}

.facilities{
    padding: 30px;
    margin-left: 70px;
    width: 90vh;
    height: 20vh;
    background-color: white;
    color: black;
    list-style-type: none;
    display: inline-block;
    border-radius: 4px;
    font-size: large;
}
.facilities h3{
    margin-top: 0px;
    padding-bottom: 20px;
}
.facilities li{
    padding: 10px;
}
.facilities img{
   padding-right: 20px;
}
.wifi{
    display: inline-flex;
}
.bs{
    display: inline-flex;
    margin-left: 190px;
}
.ac{
    display: inline-flex;
}
.swim{
    display: inline-flex;
    margin-left: 150px;
}
.parking{
    display: inline-flex;
}
.top{
    display: inline-flex;
    margin-left: 145px;
}


.mid{
    display: flex;
    width:200vh;
    height: 90vh;
}
.part3{
    width: 120vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 225, 225);
    display: block;
}
.location{
    width: 80vh;
    height: 30vh; 
}
.g-Map{
    margin-top: 40px;
    margin-left:30px;
    border-radius: 6px;
    width: 75vh;
    height: 45vh;
    display: block;
}
.explore{
    display: block;
    list-style: none;
    font-size: large;
    font-weight: 700;
    margin-top: 130px;
    color: grey;
}
.explore h2{
    font-size:25px;
    font-weight: 700;
    margin-left: 50px;
    color: black;
    margin-top: 0;
    /* margin-bottom: 10px; */
}
.explore li{
    margin-left: 50px;
}
.explore p{
 margin-left: 30vh;
 display: inline-flex;

}
.explore img{
    display: inline-flex;
    margin-right: 10px;
    width: 3vh;
    height: 3vh;
}
.available{
    width: 200vh;
    height: 15vh;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 225, 225);
    display: block;
}
.available h1{
    font-size: 30px;
    color: black;
    margin-left: 80px;
}
.card{
width: 200vh;
height: 70vh;
display: flex;
background:rgb(228, 225, 225);
align-items: justify;
margin-top:-62px;
}
.card1{
 width:50vh;
 height: 40vh;
 margin: 20px;
 margin-left: 60px;
}
/* .card1 img{
    width: 45vh;
    height: 25vh;
} */
.card2{
    padding: 10px;
    width:50vh;
    height: 55vh;
    background:white;
    margin: 20px;
    margin-left: 60px;
}
.card2 img{
    width: 45vh;
    height: 25vh;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 15px;
}
.card h3, li{
    margin-left: 15px;
    padding: 2px;
}
.card3{
    padding: 10px;
    width:50vh;
    height: 55vh;
    background:white;
    margin: 20px;
    margin-left: 60px;
}
.card3 img{
    width: 45vh;
    height: 25vh;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
}

.info {
    height: 60px;
    width: 190vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 65px; 
    position: relative;
    border-radius: 10px;
    font-size: 14px;
    background-color: rgb(243, 236, 236);
    transform: translateY(-60px);
    background: linear-gradient(to bottom, rgb(235, 231, 231), white);
    border: 1px solid rgba(230, 222, 222, 0.582);
  }
  
  /* .info .map-box {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.116), white);
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center;
    margin-left: 10px;
    padding: 12px 60px 12px 10px;
    border-radius: 10px;
  }
  
  .info .map-box img {
    margin-right: 5px;
    width: 20px;
  } */
   
  .info .calender-box {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.116), white);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 10px;
    padding: 12px 40px 12px 10px;
    border-radius: 10px;
    width: 250px;
  }
  
  .info .calender-box img {
    width: 20px;
    margin-right: 5px;
  }
  
  .info .guest-box {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.116), white);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 10px;
    padding: 12px 40px 12px 10px;
    border-radius: 10px;
    width: 250px;
  }
  
  .info .guest-box img {
    width: 20px;
    margin-right: 5px;
  }
  
  .info .search-box {
    background-color: rgb(97, 139, 218);
    color: white;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    border: transparent;
    width: 300px;
  }
  .caution-box {
    display: flex;
    align-items: center;
    margin: 0px 60px;
    padding: 20px;
    background-color: rgba(255, 228, 196, 0.829);
    border-radius: 10px;
    font-weight: 500;
  }
  
  .caution-box img {
    width: 28px;
    margin-right: 20px;
  }
  
  .caution-box p b {
    font-size: 18px;
    font-weight: 400;
  }
  .caution-box p span {
    color: rgb(22, 96, 192);
  }
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .foot div {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .foot p {
    font-size: 12px;
    color: rgb(61, 132, 238);
  }
  
  .foot-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 40px 60px;
  }
  
  .foot-info li {
    list-style-type: none;
  }
  
  .foot-info .blue-plane {
    display: flex;
    margin-top: 10px;
    color: rgb(82, 73, 73);
  }
  
  .foot-info .blue-plane img {
    width: 20px;
  }
  
  .foot-info .plane-info {
    margin: 10px 25px;
  }
  
  .foot-info span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .foot-info .bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    color: rgb(82, 73, 73);
  }
  
  .foot-info .blue {
    margin-top: 6px;
    color: rgb(34, 88, 204);
  }
  .card2 button {
    background-color: rgb(97, 139, 218);
    color: white;
    /* display: flex; */
    align-items: center;
    padding: 15px 25px 15px 25px;
    border: transparent;
    width: 46vh;
    height: 7vh;
    margin-top: 15px;
    text-align: center;
    font-size: large;
    font-weight: 500;
    margin-left: 15px;
    border-radius: 8px;
}
.card3 button {
    background-color: rgb(97, 139, 218);
    color: white;
    /* display: flex; */
    align-items: center;
    padding: 15px 25px 15px 25px;
    border: transparent;
    width: 46vh;
    height: 7vh;
    margin-top: 15px;
    text-align: center;
    font-size: large;
    font-weight: 500;
    margin-left: 15px;
    border-radius: 8px;
}